:root {
    --white: #FFFFFF;
    --black: #000000;
    --body-background: #fffdfa;
    --sm: 18px;
    --md: 20px;
    --mm: 28px;
    --lg: 32px;
    --xg: 54px;
}
body{
    background-image: linear-gradient(to top, #fce4d6, #fce4d6, #fee5e2, #f4edf2,  #f4edf2, #fae9ec, #fee5e2, #fce4d6, #fce4d6);
    margin: 0;
    height: 100vh;
}
header{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resLogo{
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: var(--xg);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24%;   
    margin-bottom: 24%;
    height: 80px;
    width: 100%;
}
.minitxt{
    font-family: 'Poiret One', cursive;
    font-size: var(--sm);
    margin: 4px 4px 0px;    
}
ul{
    list-style: none;  
    justify-content: center;  
    display: flex;
    padding-left: 2%;
}
li{
    margin-left: 2%;
    margin-right: 4%;
    border-bottom: 1px solid var(--black);
}
a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: var(--md);
}
a:hover{
    text-shadow: #cfb6d4  4px 4px 8px;
}
.tyContain{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
h1{
    justify-self: center;
    font-family: 'Staatliches', cursive;
    font-size: var(--xg);    
    margin-bottom: 4px;
    width: 100%;
}
h2{
    margin: 0;
    font-size:var(--md);
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-bottom: 12%;
    width: 100%;
}
.button{
    background-image: linear-gradient(to top, #f4edf2, #f7e9ef, #fbe4e8, #fee0e0, #fee0e0,#fee0e0, #fee0e0);   
    border: none;
    box-shadow: #cfb6d4 4px 4px 4px;
    padding: 8px;
    margin: 4px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    border-radius: 8px;
}
@media screen and (min-width: 630px) {
    .resLogo{
        margin-top: 12%;   
        margin-bottom: 8%;
    }    
}
@media screen and (min-width: 1325px) {
    .resLogo{
        margin-top: 8%;   
        margin-bottom: 6%;
    }
    h2{
        margin-bottom: 8%;
    }
}